@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,700;1,800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* border: 2px solid red; */
    height: 100vh;
    width: 100wv;
    margin: 2rem;
    display: flex;
    align-items: center;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}

.card img {
    width: 60%;
    height: 60%;
}

.info{
    /* border: 3px solid black;   */
    margin-left: 50px; 
}

.name{
    /* border: 3px solid red; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    
}

.name h1 {
    font-family: 'Poppins', sans-serif;
    /* display: flex;
    /* align-items: center; */
    justify-content: center; */
    margin-right: 1rem;
}

.name span{
    background-color: blue;
    color: white;
    /* border: 1px solid blue; */
    border-radius: 10px;
    font-size: 20px;
    padding: 3px 10px;
    margin-bottom: 5px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
